<p-dialog header="Modificar Dirección" [(visible)]="isVisible" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" (onHide)="closeModal()">

    <form [formGroup]="addressForm" (ngSubmit)="saveAddress()">
        <div class="p-fluid">
            <div class="mb-1">
                <label for="street" class="block text-gray-700 font-medium mb-2">Calle</label>
                <input pInputText type="text" id="street" formControlName="street"
                    class="w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                    [ngClass]="{'ng-invalid ng-dirty': addressForm.get('street')?.invalid && addressForm.get('street')?.touched}" />
                <small class="p-error block text-red-500"
                    *ngIf="addressForm.get('street')?.hasError('required') && addressForm.get('street')?.touched">
                    La calle es obligatoria.
                </small>
                <small class="p-error block text-red-500" *ngIf="addressForm.get('street')?.hasError('maxlength')">
                    La calle no puede exceder los 100 caracteres.
                </small>
            </div>

            <div class="mb-1">
                <label for="suite" class="block text-gray-700 font-medium mb-2">Apartamento</label>
                <input pInputText type="text" id="suite" formControlName="suite"
                    class="w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                    [ngClass]="{'ng-invalid ng-dirty': addressForm.get('suite')?.invalid && addressForm.get('suite')?.touched}" />
                <small class="p-error block text-red-500"
                    *ngIf="addressForm.get('suite')?.hasError('required') && addressForm.get('suite')?.touched">
                    El apartamento es obligatorio.
                </small>
                <small class="p-error block text-red-500" *ngIf="addressForm.get('suite')?.hasError('maxlength')">
                    El apartamento no puede exceder los 50 caracteres.
                </small>
            </div>

            <div class="mb-1">
                <label for="city" class="block text-gray-700 font-medium mb-2">Ciudad</label>
                <input pInputText type="text" id="city" formControlName="city"
                    class="w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                    [ngClass]="{'ng-invalid ng-dirty': addressForm.get('city')?.invalid && addressForm.get('city')?.touched}" />
                <small class="p-error block text-red-500"
                    *ngIf="addressForm.get('city')?.hasError('required') && addressForm.get('city')?.touched">
                    La ciudad es obligatoria.
                </small>
                <small class="p-error block text-red-500" *ngIf="addressForm.get('city')?.hasError('maxlength')">
                    La ciudad no puede exceder los 50 caracteres.
                </small>
            </div>

            <div class="mb-1">
                <label for="zipcode" class="block text-gray-700 font-medium mb-2">Código postal</label>
                <input pInputText type="text" id="zipcode" formControlName="zipcode"
                    class="w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                    [ngClass]="{'ng-invalid ng-dirty': addressForm.get('zipcode')?.invalid && addressForm.get('zipcode')?.touched}" />
                <small class="p-error block text-red-500"
                    *ngIf="addressForm.get('zipcode')?.hasError('required') && addressForm.get('zipcode')?.touched">
                    El código postal es obligatorio.
                </small>
                <small class="p-error block text-red-500" *ngIf="addressForm.get('zipcode')?.hasError('pattern')">
                    El formato del código postal no es válido.
                </small>
            </div>
        </div>

        <div class="flex justify-end mt-4">
            <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text p-mr-2"
                (click)="closeModal()" severity="danger"></button>
            <button pButton type="submit" label="Guardar" icon="pi pi-check" [disabled]="addressForm.invalid"></button>
        </div>
    </form>
</p-dialog>