<p-toast></p-toast>

<div *ngIf="isLoading" class="flex justify-content-center align-items-center h-screen">
    <p-progressSpinner></p-progressSpinner>
</div>

<header *ngIf="!isLoading && project">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold text-gray-800">Detalles del Proyecto</h1>
        <div class="flex">
            <div class="mr-1">
                <button pButton type="button" (click)="closePopup()" severity="contrast" class="p-button-text p-mr-2">
                    <i class="pi pi-arrow-left"></i>
                    <span pButtonLabel>Regresar</span>
                </button>
            </div>

            <button pButton type="button" (click)="saveProject()" severity="secondary">
                <i class="pi pi-plus"></i>
                <span pButtonLabel>Guardar</span>
            </button>
        </div>
    </div>
</header>
<div *ngIf="!isLoading && project" class="content-columns">
    <div class="overflow-y-auto max-h-[70vh]">
        <div>
            <form [formGroup]="projectForm" (ngSubmit)="saveProject()">
                <div class="flex flex-wrap">
                    <div class="w-full md:w-1/2 p-2">
                        <div
                            class="flex flex-wrap mr-0 bg-gray-50 rounded-lg p-4 border border-gray-200 w-full shadow-lg shadow-gray-500/50">
                            <h2 class="font-bold text-xl mt-4 mb-2 w-full">Información usuario</h2>
                            <div class="w-full xl:w-1/2 px-1">
                                <div class="w-full">
                                    <label for="name" class="block text-gray-700 font-medium mb-2">Nombre</label>
                                    <input type="text" id="name" name="name" formControlName="name"
                                        class="w-full outline-0 px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                                        required />
                                    <div *ngIf="projectForm.get('name')?.invalid && projectForm.get('name')?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        Nombre es requerido.
                                    </div>
                                </div>
                            </div>

                            <div class="w-full xl:w-1/2 px-1">
                                <div class="w-full">
                                    <label for="username" class="block text-gray-700 font-medium mb-2">Nombre de
                                        Usuario</label>
                                    <input pInputText type="text" id="username" name="username" formControlName="username"
                                        class="w-full outline-0 px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                                        required />
                                    <div *ngIf="projectForm.get('username')?.invalid && projectForm.get('username')?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        Nombre de Usuario es requerido.
                                    </div>
                                </div>
                            </div>

                            <div class="w-full xl:w-1/2 px-1">
                                <div class="w-full">
                                    <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
                                    <input type="email" id="email" name="email" formControlName="email"
                                        class="w-full outline-0 px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                                        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />
                                    <div *ngIf="projectForm.get('email')?.invalid && projectForm.get('email')?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        <div *ngIf="projectForm.get('email')?.errors?.['required']">
                                            Email es requerido.
                                        </div>
                                        <div *ngIf="projectForm.get('email')?.errors?.['email']">
                                            Formato de email inválido.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-full xl:w-1/2 px-1">
                                <div class="w-full">
                                    <label for="phone" class="block text-gray-700 font-medium mb-2">Teléfono</label>
                                    <input pInputText type="text" id="phone" name="phone" formControlName="phone"
                                        class="w-full outline-0 px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                                        required />
                                    <div *ngIf="projectForm.get('phone')?.invalid && projectForm.get('phone')?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        Teléfono es requerido.
                                    </div>
                                </div>
                            </div>

                            <div class="w-full xl:w-1/2 px-1">
                                <div class="w-full">
                                    <label for="website" class="block text-gray-700 font-medium mb-2">Sitio Web</label>
                                    <input pInputText type="text" id="website" name="website" formControlName="website"
                                        class="w-full outline-0 px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                                        required />
                                    <div *ngIf="projectForm.get('website')?.invalid && projectForm.get('website')?.touched"
                                        class="text-red-500 text-sm mt-1">
                                        Sitio Web es requerido.
                                    </div>
                                </div>
                            </div>

                            <div class="w-full xl:w-1/2 px-1">
                                <div class="w-full">
                                    <label for="address" class="block text-gray-700 font-medium mb-2">Dirección</label>
                                    <div class="flex">                                        <div class="w-full outline-0 px-4 py-2 mr-1 border rounded-md bg-gray-200 text-gray-700">
                                            {{ projectForm.get('address')?.get('street')?.value }}
                                            {{ projectForm.get('address')?.get('suite')?.value }}
                                            {{ projectForm.get('address')?.get('city')?.value }}
                                            {{ projectForm.get('address')?.get('zipcode')?.value }}
                                        </div>
                                        <button pButton type="button" (click)="editAddress()" severity="contrast">
                                            <i class="pi pi-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="w-full md:w-1/2 p-2" formGroupName="company">
                        <div
                            class="mr-0 bg-gray-50 rounded-lg p-4 border border-gray-200 w-full shadow-lg shadow-gray-500/50">
                            <h2 class="font-bold text-xl mt-4 mb-2">Información compañía</h2>
                            <div>
                                <label for="companyName" class="block text-gray-700 font-medium mb-2">Nombre</label>
                                <input pInputText type="text" id="companyName" name="companyName"
                                    formControlName="name"
                                    class="w-full outline-0 px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                                    required />
                                <div *ngIf="projectForm.get('company')?.get('name')?.hasError('required') && projectForm.get('company')?.get('name')?.touched"
                                    class="text-red-500 text-sm mt-1">
                                    Nombre de la compañía es requerido.
                                </div>
                            </div>
                            <div>
                                <label for="catchPhrase" class="block text-gray-700 font-medium mb-2">Eslogan</label>
                                <input pInputText type="text" id="catchPhrase" name="catchPhrase"
                                    formControlName="catchPhrase"
                                    class="w-full outline-0 px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                                    required />
                                <div *ngIf="projectForm.get('company')?.get('catchPhrase')?.hasError('required') && projectForm.get('company')?.get('catchPhrase')?.touched"
                                    class="text-red-500 text-sm mt-1">
                                    Eslogan es requerido.
                                </div>
                            </div>
                            <div>
                                <label for="bs" class="block text-gray-700 font-medium mb-2">BS</label>
                                <input pInputText type="text" id="bs" name="bs" formControlName="bs"
                                    class="w-full outline-0 px-4 py-2 border rounded-md focus:ring focus:ring-blue-200 focus:border-blue-500"
                                    required />
                                <div *ngIf="projectForm.get('company')?.get('bs')?.hasError('required') && projectForm.get('company')?.get('bs')?.touched"
                                    class="text-red-500 text-sm mt-1">
                                    BS es requerido.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div *ngIf="tasks.length > 0" class="mt-8">
                <div class="flex justify-between items-center mb-6">
                    <h3 class="font-bold text-lg">Tareas de este usuario</h3>
                    <div class="pr-2">
                        <button pButton (click)="openAddTaskModal()" severity="contrast">
                            <i class="pi pi-file-plus"></i>
                            <span pButtonLabel>Nueva tarea</span>
                        </button>
                    </div>
                </div>

                <div class="flex flex-wrap sm:flex-nowrap">
                    <div class="w-full sm:w-1/2 py-2">
                        <h2 class="text-center font-bold">No completadas</h2>

                        <div class="flex flex-col justify-center py-2">
                            <div class="space-y-4 pr-2">
                                <p-card class="task-item task-item-rigth transform transition-all duration-300"
                                    *ngFor="let task of incompleteTasks">
                                    <ng-template #header>
                                        <div class="flex justify-between w-full px-3 pt-2">
                                            <p class="font-bold">{{task.id}}</p>
                                            <div class="space-x-1">
                                                <button pButton type="button" (click)="editTask(task)" severity="contrast">
                                                    <i class="pi pi-pen-to-square"></i>
                                                </button>

                                                <button pButton (click)="openConfirmationModal(task.id)"
                                                    severity="contrast">
                                                    <i class="pi pi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #subtitle>
                                        <div class="w-full text-center">
                                            {{task.title}}
                                        </div>
                                    </ng-template>
                                    <div class="w-full text-center">
                                        <span
                                            class="bg-red-100 text-red-800 px-2 py-1 rounded-full text-xs font-medium">No
                                            completada</span>
                                    </div>
                                </p-card>
                            </div>
                        </div>
                    </div>

                    <div class="w-full sm:w-1/2 py-2">
                        <h2 class="text-center font-bold">Completadas</h2>

                        <div class="flex flex-col justify-center py-2">
                            <div class="space-y-4 pr-2">
                                <p-card class="task-item task-item-left transform transition-all duration-300"
                                    *ngFor="let task of completedTasks">
                                    <ng-template #header>
                                        <div class="flex justify-between w-full px-3 pt-2">
                                            <p class="font-bold">{{task.id}}</p>
                                            <div class="space-x-1">
                                                <button pButton type="button" (click)="editTask(task)" severity="contrast">
                                                    <i class="pi pi-pen-to-square"></i>
                                                </button>

                                                <button pButton (click)="openConfirmationModal(task.id)"
                                                    severity="contrast">
                                                    <i class="pi pi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #subtitle>
                                        <div class="w-full text-center">
                                            {{task.title}}
                                        </div>
                                    </ng-template>
                                    <div class="w-full text-center">
                                        <span
                                            class="bg-green-100 text-green-800 px-2 py-1 rounded-full text-xs font-medium">Completada</span>
                                    </div>
                                </p-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-add-task-modal *ngIf="showAddTaskModal" [taskToEdit]="selectedTaskToEdit" [(isVisible)]="showAddTaskModal"
        (taskAdded)="handleTaskSave($event)" (modalClosed)="closeAddTaskModal()">
    </app-add-task-modal>

    <app-modify-address *ngIf="showModifyAddress" [addressToEdit]="selectedAddressToEdit"
        [(isVisible)]="showModifyAddress" (modifyAddress)="handleAddressUpdate($event)" (modalClosed)="closeModifyAddress()">
    </app-modify-address>

    <app-confirmation-modal *ngIf="showConfirmationModal" [(isVisible)]="showConfirmationModal"
        [message]="'¿Estás seguro de que quieres eliminar la tarea con ID ' + taskIdToDelete + '?'"
        (confirm)="handleConfirmation(true)" (cancel)="handleConfirmation(false)">
    </app-confirmation-modal>
</div>